body{
    margin: 20px;
}
div{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}
.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 200px;
}

.box1, .box2{
    background-color: #1c4561;
    padding-left: 20px;
    padding-top: 10px;
    color: #d5edfd;
}

.box3{
    color: #d5edfd;
    background-color: #1c4561;
    padding-left: 20px;
    padding-top: 30px;
}

.box4{
    color: #1c4561;
    background-color: #1c4561;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 84px 84px;
}

.e{
    background-color: #d5edfd;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 20px;
    padding-top: 20px;
}

.f{
    background-color: #d5edfd;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 20px;
    padding-top: 20px;
}

.g{
    background-color: #d5edfd;
    grid-column-start: 2;
    grid-column-end: 3; 
    padding-left: 20px;
    padding-top: 20px; 
}
